html, body {
background-color: #fff;
color: #636b6f;
font-family: 'Raleway', sans-serif;
font-weight: 100;
height: 100vh;
margin: 0;
}
.full-height {
height: 100vh;
}
.flex-center p{
word-wrap: break-word;
width:1000px;
}
.flex-center {
align-items: center;
display: flex;
justify-content: center;
}
.programming span { 
position:absolute;
visibility:hidden;
}
.programming,.programming:visited,.programming:hover,.programming:active{
-webkit-backface-visibility:hidden;
backface-visibility:hidden;
transition:0.5s color ease;
text-decoration:underline;
color:#F8F8FF;

}
.programming:hover, .programming:hover span { 
visibility:visible;
top:700px; left:760px; 
z-index:1;
}
.programming:hover{
color:#d73444;
}
.programming.before:before,.programming.after:after{
content: "";
transition:0.5s all ease;
-webkit-backface-visibility:hidden;
backface-visibility:hidden;
position:absolute;
}
.programming.before:before{
top:-0.25em;
}
.programming.after:after{
bottom:-0.25em;
}
.programming.before:before,.programming.after:after{
height:5px;
height:0.35rem;
width:0;
background:#d73444;
}
.programming.first:after{
left:0;
}
.swimming span { 
position:absolute;
visibility:hidden;
}
.swimming,.swimming:visited,.swimming:hover,.swimming:active{
-webkit-backface-visibility:hidden;
backface-visibility:hidden;
transition:0.5s color ease;
text-decoration:underline;
color:#F8F8FF;
}
.swimming:hover, .swimming:hover span { 
visibility:visible;
top:700px; 
right:600px; 
z-index:1;
}
.swimming:hover{
color:#d73444;
}
#section2, #section2 a{
color: #F8F8FF;
}
#section2 a{
text-decoration: underline;
font-style: italic;
}
.swimming.before:before,.swimming.after:after{
content: "";
transition:0.5s all ease;
-webkit-backface-visibility:hidden;
backface-visibility:hidden;
position:absolute;
}
.swimming.before:before{
top:-0.25em;
}
.swimming.after:after{
bottom:-0.25em;
}
.swimming.before:before,.swimming.after:after{
height:5px;
height:0.35rem;
width:0;
background:#d73444;
}
.swimming.first:after{
left:0;
}
.contentTitle h1{
color: white;
text-shadow: 48px -34px 5px rgba(255, 255, 244, 1);
font-size: 45px;
font-family: "Comic Sans MS", cursive, sans-serif;
}
.position-ref {
position: relative;
}
.top-right {
position: absolute;
right: 10px;
top: 18px;
}
.contentTitle {
text-align: center;
}
.contentTitle p{
font-family: "Comic Sans MS", cursive, sans-serif;
}
.title {
font-size: 84px;
color: #F8F8FF;
}
.m-b-md {
margin-bottom: 30px;
}
.container0 {
position: relative;  
left:0px;
top: 200px;
}
.container1 {
position: relative;  
left:60px;
top: 300px;
}
.container2 {
position: relative;
left:700px;
top:10px;
}
.container3 {
position: relative;
left:1300px;
bottom:280px;
}
.container {
width: 75%;
max-width: 900px;
margin: 0 auto;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding-bottom: 10rem;
}
.works {
background-color: #696969;
}
.img1 {
width: 75%;
display: block;
margin: 0 auto;
}
.img2 {
width: 75%;
display: block;
margin: 0 auto;           
}
.img3 {
width: 65%;
display: block;
margin: 0 auto;
}
.img4 {
width: 65%;
display: block;
margin: 0 auto;
}
.img5 {
width: 75%;
display: block;
margin: 0 auto;
}
.container h2 {
font-weight: 900;
font-size: 250%;
font-family:"Courier New";
color: #F8F8FF;
}
.container h3 {
font-weight: 600;
font-size: 200%;
font-family:"Courier New";
color: #F8F8FF;
}
.container p {
font-size: 100%;
font-family:"Lucida Console";
color: #F8F8FF;
}
.bubbles {
display: inline-block;
font-family: arial;
position: relative;
}
.bubbles h1 {
position: relative;
margin: 1em 0 0;
font-family: 'Luckiest Guy', cursive;
color: #fff;
z-index: 2;
}
.individual-bubble {
position: absolute;
border-radius: 100%;
bottom: 10px;
background-color: #fff;
z-index: 1;
}




/* Custom CSS
* --------------------------------------- */
body{
font-family: arial,helvetica;
color: #333;
color: rgba(0,0,0,0.5);
}
.wrap{
margin-left: auto;
margin-right: auto;
width: 960px;
position: relative;
}
h1{
font-size: 6em;
}
p{
font-size: 2em;
}
.intro p{
width: 50%;
margin: 0 auto;
font-size: 1.5em;
}
.section{
text-align:center;
}
#menu li {
display:inline-block;
margin: 10px;
color: #000;
background:#fff;
background: rgba(255,255,255, 0.5);
-webkit-border-radius: 10px;
border-radius: 10px;
}
#menu li.active{
background:#666;
background: rgba(0,0,0, 0.5);
color: #fff;
}
#menu li a{
text-decoration:none;
color: #000;
}
#menu li.active a:hover{
color: #000;
}
#menu li:hover{
background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
padding: 9px 18px;
display:block;
}
#menu li.active a{
color: #fff;
}
#menu{
position:fixed;
top:0;
left:0;
height: 40px;
z-index: 70;
width: 100%;
padding: 0;
margin:0;
}